.DS_Store
.idea/

## CMake
cmake-*/

## Executables
client
server

## Ignore lowercase (derived) tls1_3.h
src/tls1_3.h

## Virtual environment (python)
venv/

## Build folder
src/build


## Includes
src/vendor/miracl

## Prepared SAL
src/tls_sal.cpp

